.DS_Store
/LOCAL_RELEASE_NOTES.md
/.build
/dist
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
CLAUDE.md
.vscode/
.claude/
